* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CustomFont;
    src: url(../font.otf);
}

:root {
    --light-text-clr: rgb(240, 240, 240);
    --dark-transparent-bg: rgba(0, 0, 0, .5);

    --body-font: Verdana, Geneva, Tahoma, sans-serif;
    --logo-font: CustomFont;
    --container-pad: 1.5rem clamp(1rem, 5%, 3rem);
    --hero-title-size: clamp(1.75rem, 4vw + 1rem, 3rem);
    --credit-font-size: clamp(.6rem, 1vw, 1rem)
}

/* Default for body */

body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: clamp(1rem, 1vw, 1.1rem);
    font-family: var(--body-font);
}

img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.hero_image-section {
    background: url('../images/thor-schroeder-T91WhuBxDec-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo {
    background-color: var(--dark-transparent-bg);
    color: var(--light-text-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 1rem;
    height: 100%;
}

.logo img {
    width: min(80px, 25%, 14vw);
}
.logo h1 {
    font-size: var(--hero-title-size);
    font-family: var(--logo-font);
}

.credit {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: var(--light-text-clr);
    font-size: var(--credit-font-size);
    padding: .5rem;
    word-wrap: break-word;
}

/* sign-up form section */
.sign_up-section {
    padding: 1.5rem clamp(1rem, 5%, 3rem);
    max-width: 700px;
}

.dummy-text {
    font-weight: bold;
}
.dummy-text > p + p {
    margin-bottom: 1rem;
}

@media (min-width: 43rem) {
    .content {
        flex-direction: row;
        justify-content: center;
        border: 1px solid;
    }

    .hero_image-section {
        height: 100vh;
        background-position: contain;
    }

    .logo {
        height: auto;
    }
}