@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CustomFont;
    src: url(../font.otf);
}

:root {
    /* colors */
    --primary-dark-bg: #190003;
    --light-text-clr: rgb(220, 240, 210);
    --logo-dark-transparent-bg: rgba(0, 0, 0, .5);

    /* fonts/sizes */
    --body-font:  'Roboto', sans-serif;
    --logo-font: CustomFont;
    --input-font:'Source Code Pro', monospace;
    --font-size: clamp(1rem, 1vw, 1.5rem);
    --logo-font-size: clamp(1.75rem, 3vw, 3rem);
    --credit-font-size: clamp(.6rem, .5vw, 1rem);

    /* section padding/margin */
    --section-padding: 3rem clamp(1rem, 5%, 5rem);

}

/* Default for body */

body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: var(--font-size);
    font-family: var(--body-font);
    background-color: var(--primary-dark-bg);
    color: var(--light-text-clr);
}
a {
    color: inherit;
}

h2 {
    color: #FDA95D;
}

.content {
    display: flex;
    flex-direction: column;
}

/* image section */
.hero_image-section {
    background: url('../images/christian-wiediger-XfSk_BMLj0A-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo {
    background-color: var(--logo-dark-transparent-bg);
    color: var(--light-text-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem .1rem;
    gap: 1rem;
    height: 100%;
}

.logo img {
    width: min(80px, 25%, 14vw);
}
.logo h1 {
    font-size: var(--logo-font-size);
    font-family: var(--logo-font);
}

.credit {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: var(--light-text-clr);
    font-size: var(--credit-font-size);
    padding: .5rem;
}


/* sign-up form section */
.sign_up-section {
    padding: var(--section-padding);
    max-width: 900px;
    margin: 0 auto;
}

.dummy_text {
    font-weight: bold;
}
.dummy_text > p + p {
    margin-bottom: 1rem;
}
.dummy_text > .remote_text {
    word-spacing: 3px;
}

/* form */
.form {
    margin-top: 3rem;
}
.form::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    right: 0;
    background-color: rgba(203, 0, 26, .2);
    padding-left: 5rem;
    z-index: -1;
}

fieldset {
    border: none;
}

.inputs {
    display: flex;
    flex-direction: column;
    /* padding: 1.5rem clamp(1rem, 5%, 3rem); */
    padding: .5rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
}
.inputs input {
    all: initial;
    padding: .4rem;
    background-color: rgba(212, 83, 100, 0.3);
    border: none;
    border-radius: 5px;
    padding-left: .5rem;
    color: var(--light-text-clr);
    font-family: var(--input-font);
}
.inputs input:focus {
    outline: 2px solid #FDA95D;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}
.inputs input:autofill {
    background-color: rgba(212, 83, 100, 0.3) !important;
}

.submit_btn {
    border: none;
    padding: .8rem 3rem;
    margin-top: 2rem;
    background-color: #FDA95D;
    border-radius: 8px;
    font-family: inherit;
    font-weight: bold;
    color: var(--primary-dark-bg);
    font-size: 1.2rem;
    cursor: pointer;
}

.log_in {
    margin-top: 2rem;
}
.log_in a {
    text-decoration: none;
    color: #FDA95D;
}

@media (min-width: 62rem) {
    .content {
        flex-direction: row;
        border: 1px solid;
    }

    .hero_image-section {
        height: 100vh;
        width: min(80ch, 100vw - 2rem);
    }

    .logo {
        height: auto;
        flex-direction: column;
    }

    .dummy_text {
        width: max(40ch, 55ch);
    }

    .form {
        padding: 4rem 2rem 4rem 0;
        position: relative;
    }

    .sign_up-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    fieldset {
        display: flex;
        flex-flow: row wrap;
        column-gap: 3rem;
    }
    .inputs {
        width: 270px;
        min-width: 150px;
    }
}